* {
  font-family: Helvetica, Arial, sans-serif;
  
}

body {
  
  padding: 60px;
  background: radial-gradient(circle, rgba(23,58,236,1) 0%, rgba(70,252,247,1) 100%);
}


input {
  color: grey;
  font-size: 1.2rem;
  width: 100%;
  border: 1px dotted #999;
  outline: none;
  background-color: #dfe;
}

.card-grid {
  margin-left: -30px;
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
}

.card {

  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
}

.card h6 {
  
  padding: 5px;
  text-align: center;
}

.card img {
  
  height: 100%;
  width: 100%;
  object-fit: cover;


  
}

